body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.estilo1
{
  background-color: aquamarine;
  font-style:italic;
  font-weight: bold;
}

.naoRedimensionavel
{
  resize: none;
}