<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <section>
      <form id="frmGeracaoCartao" class="botoes">
        <div class="motivacional">
          <p>GANHE TEMPO</p>
          <p>FAÇA RECARGA DE FORMA SIMPLES E SEGURA!</p>
        </div>
        <ul>
          <li><a href="/criar">Criação do Bilhete</a></li>
          <li><a href="/recarga">Recarga do Bilhete</a></li>
          <li><a href="/uso">Uso do Bilhete</a></li>
          <li><a href="/relat">Relatório de Uso</a></li>
          <li><a href="/categ">Tipos de Bilhete</a></li>
        </ul>
      </form>
    </section>
  </body>
</html>
